.fone {
  background: linear-gradient(to right, transparent 0%, black 100%), url(https://hdwallsource.com/img/2014/7/sound-wallpaper-42119-43111-hd-wallpapers.jpg) ;
  background-size: cover;
}


.carousel-caption {
  top: 70%;
  bottom: auto;
}


span {
  margin: 5px;
}

.carousel,
.carousel-inner,
.carousel-inner .item,
.carousel-inner img {
  height: 90% !important;
  width: 100% !important;
}

.carousel {
  justify-content: center;
}


html,
body {
  height: 100%;
}

.shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}



