

.fone {
  background-color: #f9fbff!important;
}


.carousel-caption {
  top: 40%;
  bottom: auto;
}


span {
  margin: 5px;
}

img {

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background: fixed;
}
