

.fone {
  background-color: #f9fbff!important;
}


.carousel-caption {
  top: 70%;
  bottom: auto;
}


span {
  margin: 5px;
}

.carousel,
.carousel-inner,
.carousel-inner .item,
.carousel-inner img {
  height: 100% !important;
  width: 100% !important;
}

html,
body {
  height: 100%;
}


