<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="http://clesolea.com/2SCB">Brand Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav5"
          aria-controls="navbarNav5" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav5">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://clesolea.com/2SCB">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://clesolea.com/2SCB">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://clesolea.com/2SCB">Products</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="http://clesolea.com/2SCB">Submenu - 01</a>
          <a class="dropdown-item" href="http://clesolea.com/2SCB">Submenu - 02</a>
          <a class="dropdown-item" href="http://clesolea.com/2SCB">Submenu - 03</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://clesolea.com/2SCB">Contact</a>
      </li>
    </ul>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</nav>

<!--&lt;!&ndash; Page Content &ndash;&gt;-->
<!--<div class="container">-->

<!--  <div class="row">-->
<!--    <div class="col" *ngFor="let aud of audio">-->

<!--      <div class="card" style="max-width: 90%;">-->
<!--        <img class="card-img-top mp3-cover" src="https://www.stockvault.net/data/2017/09/30/239530/thumb16.jpg"-->
<!--             alt="Card image cap">-->
<!--        <div class="card-block" style="margin: 5px">-->
<!--          <span style="cursor: pointer;" class="float-right" data-toggle="modal" data-target="#playAudio"-->
<!--                (click)="onSelectAudio(aud?.soundName!)">-->
<!--          <i class="fas fa-play-circle" style="font-size: 35px; margin: 10px"></i>-->
<!--          </span>-->
<!--          <h4 class="card-title">{{aud.artist}}</h4>-->
<!--          <p class="card-text">{{aud.soundName}}</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<br>
<br>
<br>

<div class="container">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Track</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let aud of audio">
      <td>{{aud.soundName}}</td>
      <td>{{aud.artist}}</td>
      <td>{{aud.albumName}}</td>
      <td>
      <span style="cursor: pointer;" class="float-right" data-toggle="modal" data-target="#playAudio"
            (click)="onSelectAudio(aud?.soundName!)">
          <i class="fas fa-play-circle" style="font-size: 35px; margin: 10px"></i>
          </span>
      </td>
    </tr>

  </table>
</div>


<div class="modal" tabindex="-1" role="dialog" id="playAudio">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="container justify-content-center text-center">
        <div class="modal-header modal-lg">
          <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <div class="mp3-audio">
            <audio controls class="mp3-auido" id="audioId">
              <source [src]="trustedUrl" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="stopAudio()"
                  class="btn btn-secondary">Close
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
