.fone {
  background-color: #f9fbff!important;

}
.pb-6, .py-6 {
  padding-bottom: 3.75rem!important;
}
.pt-6, .py-6 {
  padding-top: 3.75rem!important;
}
.hover-scale, .hover-scale:hover {
  transition: transform .2s ease-in;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 50%;
  max-width: 50%;
  width: 50%;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .4rem;
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  min-height: 200px;
  max-height: 200px;
  height: 200px;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card:hover{
  box-shadow: 3px 3px 3px black;
  transform:scale(1.1);
}


