
<body class="bg-img">

<!-- Backgrounds -->


<!-- End Backgrounds -->

<div class="container" id="login">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="login">

        <h1>Login</h1>

        <!-- Loging form -->
        <form #login="ngForm">
          <div class="form-group">
            <input type="email" class="form-control" name="username" id="exampleInputEmail1"  placeholder="Enter username" ngModel required>

          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password" ngModel required>
          </div>

          <div class="form-check">


            <label class=""><a href="/register">Not have an account?</a></label>


            <label class="forgot-password"><a href="#">Forgot Password?</a></label>

          </div>

          <br>
          <button type="submit" (click)="signIn(login.value)" class="btn btn-lg btn-block btn-secondary">Sign in</button>
        </form>
        <!-- End Loging form -->

      </div>
    </div>
  </div>
</div>


</body>
