<body class="fone bg-img ">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav5"
          aria-controls="navbarNav5" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav5">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/artist_list">Artists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/albums_list">Albums</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Admin Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/create_atrist">New artist</a>
          <a class="dropdown-item" routerLink="/create_album">New album</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
    </ul>
  </div>
</nav>

<section class="py-5 ">
  <div class="container mt-5">
    <h1 class="mb-5 text-white">Account Settings</h1>
    <div class="bg-white shadow rounded-lg d-block d-sm-flex text-white">
      <div class="profile-tab-nav border-right bg-dark">
        <div class="p-4" (click)="onChangeImageModal()">
          <div class="img-circle text-center mb-3">
            <img src="{{profileUser?.imageAvatar}}"  class="shadow">
          </div>
          <h4 class="text-center">{{profileUser?.username}}</h4>
        </div>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active text-white" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
            <i class="fa fa-home text-center mr-1 text-white"></i>
            Account
          </a>
          <a class="nav-link text-white" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
            <i class="fa fa-key text-center mr-1 text-white"></i>
            Password
          </a>
          <a class="nav-link text-white" id="y" data-toggle="pill"  routerLink="/artist_list">
            <i class="fas fa-cloud-music mr-1 text-white"></i>
            App
          </a>
        </div>
      </div>
      <div class="tab-content p-4 p-md-5 alert-light" id="v-pills-tabContent">
        <i class="fas fa-edit float-right text-primary" (click)="onSettingsUpdateProfile()"></i>
        <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
          <h3 class="mb-4">Account Settings</h3>
          <form #updateForm="ngForm">
          <div class="row" >
            <div class="col-md-6">
              <div class="form-group">
                <label>Username</label>
                <input [disabled]="flagUpdateProfile" type="text" class="form-control" name="username" ngModel required [(ngModel)]="profileUser?.username!">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Email</label>
                <input [disabled]="flagUpdateProfile" type="text" class="form-control" name="email" ngModel required [(ngModel)]="profileUser?.email!">
              </div>
            </div>
          </div>
          </form>
          <div>
            <button [hidden]="flagUpdateProfile" class="btn btn-primary" (click)="onUpdateProfile(updateForm.value)">Update</button>
            <button [hidden]="flagUpdateProfile" (click)="onSettingsUpdateProfile()" class="btn btn-light">Cancel</button>
          </div>
        </div>

        <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
          <h3 class="mb-4">Password Settings</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Old password</label>
                <input [disabled]="flagUpdateProfile" #oldpass="ngModel" (keypress)="onPress()" type="password" id="oldPassword" class="form-control" ngModel required name="oldPassword" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>New password</label>
                <input [disabled]="flagUpdateProfile" #newpass="ngModel" type="password" id="newPassword" class="form-control" ngModel required name="newPassword">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Confirm new password</label>
                <input [disabled]="flagUpdateProfile" #confirmpass="ngModel" type="password" id="confirmPassword" class="form-control" ngModel required name="confirmPassword">
              </div>
            </div>
          </div>
          <div>
            <button [hidden]="flagUpdateProfile" class="btn btn-primary" (click)="onUpdatePassword(oldpass.value, newpass.value, confirmpass.value)" >Save</button>
            <button [hidden]="flagUpdateProfile" class="btn btn-light" (click)="onSettingsUpdateProfile()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>



<div class="modal" tabindex="-1" role="dialog" id="changeImage">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="container justify-content-center text-center">
        <div class="modal-header modal-lg">
          <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <input type="file" accept="image/*" ngModel required (change)="openAndSaveImage($event)">
        </div>

        <div  class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="onUploadImage()">Upload</button>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" class="btn btn-outline-danger"
                  (click)="closeChangeImageeModal()">No
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
