<body class="fone">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="http://clesolea.com/2SCB">Brand Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav5"
          aria-controls="navbarNav5" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav5">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/artist_list">Artists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/albums_list">Albums</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/create_atrist">New artist</a>
          <a class="dropdown-item" routerLink="/create_album">New album</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://clesolea.com/2SCB">Contact</a>
      </li>
    </ul>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</nav>

<div class="container bootstrap snippets bootdey">
  <h1 class="text-primary">Create artist</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img [src]="url" class="avatar img-circle img-thumbnail" [style.width.%]="70" [style.height.%]="70"
             alt="avatar">
        <h6>Upload a different photo...</h6>

        <input type="file" name="fileImage" class="form-control" accept="image/*" ngModel (change)="onSelectImage($event)">
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      <h3>Personal info</h3>

      <form class="form-horizontal">
        <div class="form-group">
          <label  class="col-lg-3 control-label">Artist name:</label>
          <div class="col-lg-8">
            <input #nameArtist="ngModel" name="artist" ngModel required class="form-control" type="text" value="Slogan">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Title:</label>
          <div class="col-lg-8">
            <input #title="ngModel" ngModel name="title" class="form-control" type="text" value="">
          </div>
        </div>
          <button type="button" (click)="createArtist(nameArtist, title)" [disabled]="nameArtist.invalid || !url"
                  class="btn btn-primary float-right">Create
          </button>
      </form>
    </div>
  </div>
</div>
<hr>

</body>
